body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-container {
  display: flex;
  width: 100%;
  flex: 1;
}

/* Prevent text selection while dragging */
.palette-item,
.canvas-block {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.canvas-block button {
  user-select: auto;
}